[submodule "Cyphers"]
	path = Cyphers
	url = https://github.com/ser45g/Cyphers.git
[submodule "TestRoutingProject/Cyphers"]
	path = TestRoutingProject/Cyphers
	url = https://github.com/ser45g/Cyphers.git
